<!doctype html>
<html lang="en">
<head>
<title> Авторизация и регистрация </title>
<link rel="stylesheet" href="Стили.css">
<meta charset = "utf-8"/>
</head>
<body>
<!---Форма авторизации--->
<form action="" method="">
    <Label>Имя пользователя</Label>
    <input type="text" placeholder="Введите свое полное имя">
    <Label>Пароль</Label>
    <input type="password" placeholder="Придумайте пароль">
    <label>Подтверждение пароля</label>
    <input type="password" placeholder="Подтвердите пароль">
    <button><a href="1.html">Войти</a></button>
    <p>
        У вас уже есть аккаунт? - <a href="index.html">Авторизируйтесь</a>!
    </p>
   
</form>
</body>
</html>